body {
    background-color: lightblue;
    font-family:Arial;
    display: flex;
    justify-items: center;
    flex-direction: column;
    justify-content: center;

}
.header{
    background-color: #122A57;
    height: 100px;
    display: flex;
    justify-content: space-between;
    color: #fff;

}
.item-header{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
}
.content{
    font-family:Arial;
    display: flex;
    justify-content: space-between;
    font-size: 30px;

}
.contato{
    margin-left: 70px;
      
}
.form{
    display: flex;
    flex-direction: column;
}
.field{
    padding: 10px;
    margin-left: 5px;
    margin-bottom: 15px;
    border: 1px solid #DDD;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.support{
    background-color: rgb(13, 72, 180);
    font-family:Arial;
    font-size: 25;
    display: flex;
    justify-content: center;
}
.item-21{
    display: flex;
    justify-content: right;
}
.quadro{

    display: flex;
    flex-direction: column;
    align-content: space-between;


}
.item-quadro{

    margin-right: 15px;

}
/*

- Faça um arquivo separado com o style do seu .css.
- Faça um arquivo de cabeçalho para todo o conteudo HEAD.
- Faça uma configuração <title> $XXXX??? </title>.
- Possibilite alterar um valor em seu banco de dados (array).



*/