.head{

}
.body{
    font-family:Arial, Helvetica, sans-serif;
}
.content{
    display:flex;justify-content:center;
}
.contato{
    width: 100%;
    max-width: 500px;
}
.form{
    display: flex;
    flex-direction: column;
}
.field{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #DDD; border-radius: 5px; font-family: Arial, Helvetica, sans-serif; font-size: 16px;
}
.textarea{
    height: 150px;
}


/*

- Faça um arquivo separado com o style do seu .css.
- Faça um arquivo de cabeçalho para todo o conteudo HEAD.
- Faça uma configuração <title> $XXXX??? </title>.
- Possibilite alterar um valor em seu banco de dados (array).



*/